## Parndas tips and tricks
Written by: Shafique Ahmad \
Date: 10/19/2023 \
Contact me on: \
[Github](https://github.com/shafiq-ahmad/) \
[LinkedIn](https://www.linkedin.com/in/shafique-ahmad-b0865361)

In [4]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns

## Get Pandas version

In [2]:
#method 1
pd.__version__     #only version

'2.1.1'

In [3]:
#method 2
pd.show_versions() #show all details

INSTALLED VERSIONS
------------------
commit              : e86ed377639948c64c429059127bcf5b359ab6be
python              : 3.10.1.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.19045
machine             : AMD64
processor           : Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : English_United States.1252

pandas              : 2.1.1
numpy               : 1.26.0
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 58.1.0
pip                 : 21.2.4
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : None
IPython             : 8.16.1
pandas_datareader   : None
bs4                 : None
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : 3.8.0
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : 3.1.2
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : None
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

## Creating Data Frame

In [5]:
# Method 1: assigning a dictionary
df1 = pd.DataFrame({'A col': [1,2,3], 'B col':[3,4,5]})
print(df1)

   A col  B col
0      1      3
1      2      4
2      3      5

In [6]:
# Method 2: assigning a NumPy array
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(arr)
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
# by assigning random values
df = pd.DataFrame(np.random.rand(4,8), columns=list('ABCDEFGH'))
print(df)

          A         B         C         D         E         F         G  \
0  0.301905  0.504883  0.625198  0.680434  0.095660  0.375162  0.743567
1  0.607615  0.902101  0.708582  0.325209  0.283677  0.780769  0.290507
2  0.258299  0.895092  0.118593  0.614976  0.757741  0.498746  0.652328
3  0.174422  0.028404  0.611429  0.369036  0.366186  0.228669  0.329788

          H
0  0.344679
1  0.340194
2  0.588920
3  0.336372

## Rename a column

In [9]:
# Method 1: using rename() method
df.rename(columns={'A':'A_col'}, inplace=True)
df

,A_col,B,C,D,E,F,G,H
0,0.301905,0.504883,0.625198,0.680434,0.095660,0.375162,0.743567,0.344679
1,0.607615,0.902101,0.708582,0.325209,0.283677,0.780769,0.290507,0.340194
2,0.258299,0.895092,0.118593,0.614976,0.757741,0.498746,0.652328,0.588920
3,0.174422,0.028404,0.611429,0.369036,0.366186,0.228669,0.329788,0.336372

In [11]:
# Method 2: assign a new list of column names
df.columns=['B','col_bb','C','D','E','F','G','H']
df

,B,col_bb,C,D,E,F,G,H
0,0.301905,0.504883,0.625198,0.680434,0.095660,0.375162,0.743567,0.344679
1,0.607615,0.902101,0.708582,0.325209,0.283677,0.780769,0.290507,0.340194
2,0.258299,0.895092,0.118593,0.614976,0.757741,0.498746,0.652328,0.588920
3,0.174422,0.028404,0.611429,0.369036,0.366186,0.228669,0.329788,0.336372

## Load sample dataset using seaborn library

In [12]:

df_tips = sns.load_dataset('tips')